<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aldoreyes.master"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".ComputerGraphicsHWActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".homeworks.hw1.Homework1Activity" android:label="Homework 1"></activity>
        <activity android:name=".homeworks.hw1.Homework1ListActivity" android:label="Shader List"></activity>
        <activity android:label="Shader" android:name=".homeworks.hw1.Homework1SingleShaderActivity"></activity>
        <activity android:name=".homeworks.hw2.Homework2ListActivity"></activity>
        <activity android:name=".homeworks.hw2.Homework2SingleShaderActivity"></activity>
        <activity android:name=".homeworks.extra.ExtraActivity"></activity>
        <activity android:name=".homeworks.extra.ExtraListActivity"></activity>
        <activity android:name=".homeworks.extra.ExtraSingleShaderActivity"></activity>
    </application>

</manifest>